@font-face {
    font-family: SourceSansPro;
    src: url(/src/assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Kanit;
    src: url(/src/assets/fonts/kanit-Regular.ttf);
}
input[type="text"]:focus {
    outline: none;
    border: none;
}
input[type="text"]:focus:hover {
    outline: none;
}
::placeholder {
    color: var(--bs-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #212529;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #495057;
    border-radius: 10px;
    border: 2px solid #212529;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
html,
body {
    width: 398px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181C25;
}
body {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
.mn_cntnr {
    width: 100%;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: all 1s ease;
}
.mn_ttl {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #282F3E;
    padding: .5rem;
    position: relative;
}
.mn_ttl > span {
    color: #FBFEF9;
    font-size: 1.1rem;
    font-family: "SourceSansPro";
}
.mn_ftr {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #282F3E;
    padding: .5rem;
    padding-left: .6rem;
    margin-top: .65rem;
}
.mn_ftr > span {
    color: #FBFEF9;
    font-size: .75rem;
    font-family: "Kanit";
}
.btn.btn-dark {
    border: 1px solid #495057;
}
.btn.btn-dark {
    width: 95%;
    font-size: .85rem;
}
.cntnt_wrpr,
#cntnt_wrpr {
    width: 100%;
    height: 282px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
.cntnt_wrpr {
    height: auto !important;
}
.mn_cntnt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.pstr_img > img {
    width: 159px;
    border-radius: 5px;
}
.ttl-nm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ttl-nm > span {
    width: 75%;
    color: #FBFEF9;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.brick {
    width: 82%;
    height: 1px;
    background-color: #FBFEF9;
}
.bttn-cntnr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.season-dwnld {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.season-dwnld:first-child > button {
    margin-top: 0 !important;
}
.season-dwnld > span {
    color: #FBFEF9;
    font-size: .85rem;
    font-family: "SourceSansPro";
}
#reload {
    width: 90%;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.epsd-viwr_wrpr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hdr_cntnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hdr_cntnr > span {
    color: #FBFEF9;
    font-family: "SourceSansPro";
    font-size: 1.30rem;
}
.hdr_cntnr > .cntnt_wrpr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #181C25;
    color: #e0e0e0;
    border: 1px solid #292e38;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card-header {
    background-color: #282F3E;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #181C25;
    border-color: #292e38;
    color: #e0e0e0;
    cursor: pointer;
    padding-left: .65rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-group-item:hover {
    background-color: #232730;
}
.list-group-item > img {
    width: 22px;
}
.inpt_wrpr {
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .65rem;
}
.inpt_wrpr > input {
    width: 86%;
    height: 38px;
    border-radius: 6px;
    color: #f0f8ff !important;
    font-size: .784rem;
    border: none;
    padding-left: 8px;
    background-color: #292d38;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#inptSndr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 38px;
    padding: 0;
    border: none;
    border-radius: 0.375rem;
    background-color: #292d38;
    color: #ffffff;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#inptSndr:hover {
    background-color: #333844;
}
#inptSndr i {
    color: var(--bs-gray-400);
}
/* THEME 1 */
.bdy_thm_1 {
    display: block;
}
.bdy_thm_1,
.html_thm_1 {
    width: 250px;
    height: fit-content;
    justify-content: flex-start;
}
.mn_cntnr.thm_1 {
    justify-content: space-between;
}
#cntnt_wrpr.thm_1 {
    height: auto;
    flex-direction: column !important;
}
.bttn-cntnr.thm_1 {
    width: 88%;
    height: auto;
    overflow: unset;
}
.bttn-cntnr.thm_1 > .season-dwnld:first-child {
    margin-top: .45rem;
}
.bttn-cntnr.thm_1 > .season-dwnld {
    flex-direction: row;
    justify-content: center;
}
.pstr_img.thm_1 > img {
    width: 100px;
}
.inpt_wrpr.thm_1 {
    width: 92%;
    margin-top: .35rem;
    justify-content: center;
}
.inpt_wrpr.thm_1 > input {
    width: 74%;
    height: 32px;
    font-size: .638rem;
}
.inpt_wrpr.thm_1 > button {
    width: 34px !important;
    height: 32px !important;
    margin-left: .35rem !important;
}
#sctnFrmWrpr {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
/* THEME 1 */